/* CSS for the dashboard */

body {
    background-color: #D9D9D9;
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    gap: 25px;
    padding: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#xp_level {
    width: 50%;
    height: 15px;
    background: darkgray;
    border: 2px solid black;
    border-color: black;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#xp_bar {
    width: 10%;
    height: 100%;
    background: green;
}

#xp_text {
    margin-top: 6px;
    text-align: left;
    margin-left: 100px;
}

#user_information {
    background: blue;
    margin-top: 50px;
    height: 100px;
}

#quiz {
    background: green;
    margin-top: 50px;
    height: 40px;
}

#recent_xp_changes {
    background: red;
    margin-top: 50px;
    height: 40px;
}

#hint {
    background: yellow;
    margin-top: 50px;
    height: 40px;
}

#safety_report {
    background: pink;
    margin-top: 50px;
    height: 40px;
}

#chart {
    background: brown;
    margin-top: 50px;
    height: 40px;
}