/* CSS for the dashboard */

body {
    background-color: #D9D9D9;
}

#xp_level {
    width: 100%;
    height: 30px;
    background: darkgray;
    border: 2px solid black;
    border-color: black;
    overflow: hidden;
}

#xp_bar {
    width: 30%;
    height: 100%;
    background: green;
}

#xp_text {
    margin-top: 6px;
    text-align: center;
}

