/* CSS for the settings */

body {
    background: #D9D9D9;
}

@font-face {
    font-family: "Jockey One";
    src: url("../fonts/Jockey_One/JockeyOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#title {
    font-family: "Jockey One";
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
}