/* CSS for the taskbar */

#back_button img {
    width: 30px;
    height: 30px;
}

#forward_button img {
    width: 30px;
    height: 30px;
}

#reload_button img {
    width: 30px;
    height: 30px;
}

#dashboard_button img {
    width: 30px;
    height: 30px;
}

#bookmarks_button img {
    width: 30px;
    height: 30px;
}

#settings_button img { 
    width: 30px;
    height: 30px;
}

#home_button img {
    width: 30px;
    height: 30px;
}

#downloads_button img { 
    width: 30px;
    height: 30px;
}

#new_tab_button img {
    width: 30px;
    height: 30px;
}

#navigation {
    display: flex;
    justify-content: center;
}

#url {
    width: 60%;
}

#tabs {
    display: flex;
    align-items: center;
}

#tabs_holder {
    display: flex;
    align-items: center;
    gap: 4px;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 100%;
}

#tabs_holder div {
    width: 150px;
    height: 30px;
    background: black;
}

#new_tab_button {
    margin-left: 4px;
}