/* CSS for the taskbar */

body {
    background-color: #D9D9D9;
}

#back_button img {
    width: 30px;
    height: 30px;
}

#forward_button img {
    width: 30px;
    height: 30px;
}

#reload_button img {
    width: 30px;
    height: 30px;
}

#dashboard_button img {
    width: 30px;
    height: 30px;
}

#dashboard_button {
    margin-left: auto;
}

#bookmarks_button img {
    width: 30px;
    height: 30px;
}

#settings_button img { 
    width: 30px;
    height: 30px;
}

#home_button img {
    width: 30px;
    height: 30px;
    gap: 8px;
}

#downloads_button img { 
    width: 30px;
    height: 30px;
}

#new_tab_button img {
    width: 30px;
    height: 30px;
}

#navigation {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#url {
    width: 100%;
    height: 20px;
}

#row_1 {
    display: flex;
    align-items: center;
}

#tabs_holder {
    display: flex;
    align-items: center;
    gap: 8px;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 100%;
}

#tabs_holder div {
    width: 150px;
    height: 30px;
    background: green;
}

#new_tab_button {
    margin-left: 8px;
}

.bar {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    gap: 8px;
}